$reddit-orange: #FF5700;
$orange-red: #df4006;

.navbar {
    background-color: $reddit-orange;
}

.logo1 {
    font-size: 0.7em;
    font-weight: 400;
}

.logo2 {
    font-size: 2em;
    font-weight: bold;
}

.logo-wrapper {
    background-color: $orange-red;
    border-radius: 1em;
}

.avatar {
    border-radius: 50%;
}

.avatar-wrapper {
    display: inline-block;
    width: 15%;
    border-radius: 50%;
    background-color: aliceblue;
}

.nav-list {
    font-size: x-large;
    font-weight: 400;
}
